<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY APP</title>

	<script type="text/javascript" src="main.js"></script>
	<!-- <script type="text/javascript" src="./dist/scripts/scripts.js"></script> -->
</head>

<body>
	May Node and Express be with you.

	<ul class="quotes">
	<% for(var i=0; i<quotes.length; i++) {%>
		<li class="quote">
			<span><%= quotes[i].name %></span>
			<span><%= quotes[i].quote %></span>
		</li>
	<% } %>
	</ul>

	<form method="post" action="http://localhost:3000/">
		<legend>Test post</legend>
		<fieldset>
			<input type="text" name="name" />
			<input type="text" name="quote" />
		</fieldset>
		<input type="submit" value="submit" />
	</form>

	<div>
		<h2>Replace last entry</h2>
		<button id="update">Update</button>
	</div>
</body>
</html>
