<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A sample app</title>

	<script type="text/javascript" src="main.js"></script>
	<!-- <script type="text/javascript" src="./dist/scripts/scripts.js"></script> -->
</head>

<body>
	Node, Webpack, Express, Mongodb.

	<ul class="quotes">
	<% for(var i=0; i<vehicles.length; i++) {%>
		<li class="quote">
			<span><%= vehicles[i].brand %></span>
			<span><%= vehicles[i].product %></span>
		</li>
	<% } %>
	</ul>
</body>
</html>
